* {
	margin: 0;
	padding: 0;
}

body {
	background-color: floralwhite;
	box-sizing: border-box;
	font-family: Helvetica, Arial, Sans-Serif;
	height: 100vh;
	text-align: center;
}

svg {
	display: block;
	margin: 0 auto;
}

.node {
	stroke: #fff;
	stroke-width: 1.5px;
}

.link {
	stroke: #999;
}

fieldset {
	padding: 10px;
	text-align: left;
}

fieldset input {
	margin: 10px 0;
}

input[type=text] {
	width: 30px;
}

.row {
	display: flex;
	height: 100%;
}

.network {
	width: 70%;
}

.control {
	width: 30%;
}
